body{
    background-color: crimson;
    text-align: center;
}

#Player1_Login, #Player2_Login{
    background-color: white;
    border-radius: 20px;
    height: 200px;
    width: 500px;
    text-align: center;
    color: black;
    float: right;
    margin-right: 20px;
}

h1{
    color: white;
}

#LogInB{
    width: 490px;
    float: right;
    margin-right: 30px;
}

.line{
    height: 10px;
    width: 230px;
    background-color: black;
}

#Output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
#P1_Name,#P2_Name
{
	display: inline-block;
    margin-left: 20px;
}
#Word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#Player1_Login{
    margin-top: 50px;
}
#Background{
    background-image: url("Background_1.jpg");
    float: left;
    height: 1000px;
    width: 900px;
    border-right: indigo;
    border-right-width: 20px;
}