body{
    background-color: crimson;
    text-align: center;
}

#Player1_Login, #Player2_Login{
    background-color: white;
    border-radius: 20px;
    height: 200px;
    margin: 50px;
    width: 900px;
    text-align: center;
    margin-left: 270px;
    color: black;
}

h1{
    color: white;
}

#LogInB{
    width: 500px;
}

.line{
    height: 10px;
    width: 230px;
    background-color: black;
    text-align: center;
    margin-left: 610px;
    margin-top: 10px;
}